@use '@angular/material' as mat;

:host {
  display: block;

  &.active-lesson .lesson-card {
    background-color: mat.get-color-from-palette(mat.$pink-palette, 800);
    color: mat.get-color-from-palette(mat.$pink-palette, '500-contrast');
  }

  &.locked {
    pointer-events: none;
    opacity: 0.4;
  }

  &:hover {
    cursor: pointer;
  }
}

.lesson-card {
  height: 100%;
  --mdc-typography-headline6-font-size: 1rem;
  min-height: 5.5rem;
  margin-bottom: 0.5rem;

  .lesson-card-header {
    flex: 1;
  }
}
