<ng-container *ngIf="viewState$ | async as viewState">
  <app-loading-state *ngIf="viewState.isLoading" class="align-center-absolute"></app-loading-state>
  <app-error-state *ngIf="viewState.error" class="align-center-absolute" [errorMessage]="viewState.error">
    <button color="primary" mat-raised-button (click)="retry()">Retry</button>
  </app-error-state>

  <ng-container *ngIf="viewState.data && !viewState.isLoading && !viewState.error">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search..." [ngModel]="searchTerm" (ngModelChange)="onSearchTermChange($event)"/>
    </mat-form-field>

    <div class="course-cards-grid">
      <app-course-card *ngFor="let course of viewState.data.courses; trackBy: trackById"
        [course]="course" ></app-course-card>
    </div>

    <mat-paginator
      class="paginator"
      aria-label="Select page"
      [pageIndex]="viewState.data.paginator.pageIndex"
      [length]="viewState.data.paginator.length"
      [pageSize]="viewState.data.paginator.pageSize"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)">
    </mat-paginator>
  </ng-container>

</ng-container>

