<mat-card class="course-card" >
  <img class="image-media" [src]="course.previewImageLink + '/cover.webp'" [alt]="course.title">

  <app-progress-bar [progress]="progress"></app-progress-bar>

  <mat-card-header>
    <mat-card-title>{{ course.title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="course-card-content">
    <div class="course-details">
      <span><strong>Duration: </strong>{{ course.duration | duration }} </span>
      <span><strong>Lessons: </strong> {{ course.lessonsCount }}</span>
      <span><strong>Rating: </strong> {{ course.rating }}</span>
      <span><strong>Status: </strong> {{ course.status }}</span>
    </div>
    <div *ngIf="course.meta.skills"><strong>Skills: </strong> <span>{{ course.meta.skills }}</span></div>
  </mat-card-content>

  <mat-card-actions align="end">
    <a mat-raised-button color="primary" [routerLink]="course.id">Watch</a>
  </mat-card-actions>
</mat-card>
