:host {
  display: block;
}

.course-card {
  height: 100%;

  .image-media {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }

  .course-card-content {
    flex: 1;
    margin-top: 0.5rem;
  }

  .course-details {
    display: grid;
    grid-template-columns: repeat(2, minmax(5rem, 1fr));
    gap: 0.2rem;
    margin-bottom: 1rem;
  }
}
