@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$pink-palette);

:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 4rem;
  min-height: 100%;
  position: relative;
}

.course-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1.2rem;

  .course-card-content {
    width: 100%;
    font-size: 1rem;
  }

  .course-details {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 1rem;
    margin-bottom: 2.5rem;
  }
}

.lesson-player {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
  height: 30rem;

  .player-box {
    width: 100%;
    height: 100%;

    .video {
      width: 100%;
      height: 100%;
    }
  }

  .lessons {
    height: 100%;
    overflow: auto;

    .lesson-card {
      --mdc-typography-headline6-font-size: 1rem;
      min-height: 5.5rem;
      margin-bottom: 0.5rem;

      &:hover {
        cursor: pointer;
      }

      .lesson-card-header {
        flex: 1;
      }

      &.active-lesson {
        background: mat.get-color-from-palette($my-palette, 800);
        color: mat.get-color-from-palette($my-palette, '500-contrast');
      }

      &.locked {
        pointer-events: none;
        opacity: 0.4;
      }
    }
  }
}

.image-media {
  height: auto;
  width: auto;
  max-width: 50rem;
  max-height: 15rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .course-card {
    flex-direction: column;

    .image-media {
      max-width: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .lesson-player {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}

@media screen and (max-width: 480px) {
  :host {
    padding: 2.5rem 2rem;
  }
}
