<ng-container *ngIf="viewState$ | async as viewState">
  <app-loading-state *ngIf="viewState.isLoading" class="align-center-absolute"></app-loading-state>

  <app-error-state *ngIf="viewState.error" class="align-center-absolute" [errorMessage]="viewState.error">
    <button routerLink="../" color="primary" mat-raised-button>Back To Courses</button>
  </app-error-state>

  <ng-container *ngIf="viewState.data && !viewState.isLoading && !viewState.error">
    <div>
      <button routerLink="../" color="primary" mat-raised-button>Back To Courses</button>
    </div>

    <header class="course-header">

      <h1>{{ viewState.data.title }}</h1>

      <mat-card class="course-card">
        <img class="image-media" [src]="viewState.data.previewImageLink + '/cover.webp'" [alt]="viewState.data.title">
        <mat-card-content class="course-card-content">
          <div class="course-details">
          <span>
            <strong>Duration: </strong>{{ viewState.data.duration | duration }}
          </span>

            <span>
           <strong>Lessons: </strong>{{ viewState.data.lessons.length }}
          </span>

            <span>
           <strong>Rating: </strong>{{ viewState.data.rating }}
          </span>

            <span>
            <strong>Launch Date: </strong>{{ viewState.data.launchDate | date: 'dd/MM/yyyy' }}
          </span>

            <span>
            <strong>Tags: </strong>{{ viewState.data.tags }}
          </span>
          </div>

          <p><strong>Description:</strong></p>
          <p>{{ viewState.data.description }}</p>
        </mat-card-content>
      </mat-card>
    </header>

    <main class="lesson-player">
      <div class="player-box">
        <app-video-player class="video-player" *ngIf="selectedLesson; else noLessonSelected"
          [src]="selectedLesson.link"
          [poster]="selectedLesson.previewImageLink + '/lesson-' + selectedLesson.order + '.webp'"
          [currentTime]="selectedLessonProgressTime"
          (timeWatch)="onTimeWatchChanged($event)"></app-video-player>
      </div>

      <div class="lessons">
        <app-lesson-card *ngFor="let lesson of viewState.data.lessons; index as index"
          [class.active-lesson]="isLessonSelected(lesson.order)"
          [lesson]="lesson"
          [courseId]="viewState.data.id"
          [routerLink]="[]"
          [queryParams]="{ lesson: index + 1 }"
          (click)="selectLesson(lesson, index)"
        ></app-lesson-card>
      </div>
    </main>
  </ng-container>

</ng-container>

<ng-template #noLessonSelected>
  <div>Please select a lesson</div>
</ng-template>
