<ng-container *ngIf="course$ | async as course; else loading">
  <button class="back-button" color="primary" mat-raised-button (click)="back()">Back To Courses</button>

  <header class="course-header">
    <h1>{{ course.title }}</h1>

    <mat-card class="course-card">
      <img class="image-media" [src]="course.previewImageLink + '/cover.webp'" [alt]="course.title">
      <mat-card-content class="course-card-content">
        <div class="course-details">
          <span>
            <strong>Duration: </strong>{{ course.duration | duration }} minutes
          </span>

          <span>
           <strong>Lessons: </strong>{{ course.lessons.length }}
          </span>

          <span>
           <strong>Rating: </strong>{{ course.rating }}
          </span>

          <span>
            <strong>Launch Date: </strong>{{ course.launchDate | date: 'dd/MM/yyyy' }}
          </span>

          <span>
            <strong>Tags: </strong>{{ course.tags }}
          </span>
        </div>

        <p><strong>Description:</strong></p>
        <p>{{ course.description }}</p>
      </mat-card-content>
    </mat-card>
  </header>

  <main class="lesson-player">
    <div class="player-box">
      <app-video-player *ngIf="selectedLesson$ | async as selectedLesson; else noLessonSelected"
        [src]="selectedLesson.link"></app-video-player>
    </div>
    <div class="lessons">
      <mat-card *ngFor="let lesson of course.lessons"
        class="lesson-card"
        [class.active-lesson]="lesson.id === (selectedLesson$ | async)?.id"
        [class.locked]="lesson.status === 'locked'"
        (click)="selectLesson(lesson)">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ lesson.order }} : {{ lesson.title }}</mat-card-title>
            <mat-card-subtitle>{{ lesson.duration | duration }} </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </main>

</ng-container>

<ng-template #noLessonSelected>
  <div>Please select a lesson</div>
</ng-template>

<ng-template #loading>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
